###archivos ignorar

.RData
.Rhistory
6_ACF_modelos_basicos.ipynb
.Rproj.user
R_muse2.Rproj
10_transformacion_box_cox_apoyo.R
12_sarima_caracterizacion_apoyo.R
13_caso_estudio_serie_tiempo_apoyo.R
apoyo